<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Kuicker" type="Kuicker.ConfigHandler, Kuicker"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<!--<add
			name="Default"
			connectionString="Data Source=.;Initial Catalog=Kuicker;User ID=tester;Password=Kuicker;Max Pool Size=10;"
			providerName="System.Data.SqlClient"
			/>-->
		<!--<add
			name="Default"
			connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=kuicker.org)));USER ID=SCOTT;Password=Kuicker;"
			providerName="Oracle.DataAccess.Client"
			/>-->
		<add
			name="Default"
			connectionString="Data Source=localhost;User ID=SCOTT;password=Kuicker"
			providerName="Oracle.DataAccess.Client"
			/>
	</connectionStrings>

	<!--<system.data>
		<DbProviderFactories>
			<add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>-->

	<Kuicker>
		<Kernel>
			<add name="AppID" value="EntityGenerator"/>
		</Kernel>
		<Builtin>
		</Builtin>
		<Plugin>
		</Plugin>
		<Application>
			<add group="EntityGenerator" name="Provider" value="System.Data.OracleClient" />
			<add group="EntityGenerator" name="ConnectionString" value="Data Source=localhost;User ID=SCOTT;password=Kuicker" />
			<add group="EntityGenerator" name="Namespace" value="Kuicker.Example" />
			<add group="EntityGenerator" name="TableTrimPrefix" value="T_" />
			<add group="EntityGenerator" name="TableAppendSuffix" value="Entity" />
			<add group="EntityGenerator" name="ColumnTrimPrefix" value="" />
			<add group="EntityGenerator" name="ColumnAppendSuffix" value="" />
			<add group="EntityGenerator" name="PackageTrimPrefix" value="PKG_" />
			<add group="EntityGenerator" name="PackageAppendSuffix" value="Package" />
			<add group="EntityGenerator" name="ProcedureTrimPrefix" value="" />
			<add group="EntityGenerator" name="ArgumentTrimPrefix" value="" />
			<add group="EntityGenerator" name="SkipPrefix" value="" />
			<add group="EntityGenerator" name="Keyword" value="" />
			<add group="EntityGenerator" name="Prefix" value="" />
			<add group="EntityGenerator" name="Suffix" value="" />
			<add group="EntityGenerator" name="Abbreviation" value="=" />
			<add group="EntityGenerator" name="OutputPath" value="E:\_\Kuicker\src\Example\Kuicker.Example" />
		</Application>
	</Kuicker>

	<log4net>
		<appender
			name="ConsoleAppender"
			type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
			</layout>
			<!--<filter type="log4net.Filter.StringMatchFilter">
				<stringToMatch value="test" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />-->
		</appender>
		<appender
			name="RollingFileAppender"
			type="log4net.Appender.RollingFileAppender">
			<file value="sample.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
		<!--<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
		</layout>-->

		<!-- 遠端 -->
		<appender
			name="remotingAppender"
			type="log4net.Appender.RemotingAppender" >
			<sink value="tcp://localhost:8085/Log4netRemotingServerService" />
			<lossy value="false" />
			<bufferSize value="0" />
			<onlyFixPartialEventData value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN" />
			</evaluator>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="remotingAppender" />
		</root>
	</log4net>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
